* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(143, 89, 89), rgb(230,50,50)); 
}
.flex-item {
    font-size: 40px;
    margin: 0 20px;
    width: 30%;
    height: 30%;
    background-color: greenyellow;
}
.tl, .tc, .tr{
    display: flex;
}
.cl, .c, .cr {
    display: flex;
    align-items: center;
}
.bl, .bc, .br {
    display: flex;
    align-items: flex-end;
}


.tc, .c, .bc {
    justify-content: center;
}

.cr, .br, .tr {
    justify-content: flex-end;
}
